<?xml version="1.0"?>
<launch>
    <arg name="gui" default="False" />
    <arg name="model" default="$(find robot_driver)/urdf/mobile_robot.urdf.xacro"/>
    <arg name="rviz_conf" default="$(find robot_driver)/config/rviz_config.rviz"/>

    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <param name="use_gui" value="$(arg gui)"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_sate_publisher" pkg="robot_state_publisher" type="robot_state_publisher"></node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_driver)/config/saved_config.rviz"/>
</launch>
